/* 보드, 보드 추가 버튼 */
.board, .new-board {
    width: 256px;
    height: 144px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(255, 255, 255, 0.08);

    display: flex;
    justify-content: center;
    align-items: center; 

    text-align: center;
}   


.board {
    background: var(--metalic-blue-w2);
}

.board:hover {
    cursor: pointer;
    background: var(--metalic-blue-w3);
}

.board:active {
    background: var(--metalic-blue-w4);
}

/* 보드 추가 버튼 색상 설정 */
.new-board {
    background: var(--metalic-blue-w4);
}

.new-board:hover {
    cursor: pointer;
    background: var(--metalic-blue-w5);
}

.new-board:active {
    background: var(--metalic-blue-w6);
}